{% extends 'template.html.twig' %}
{% block title %}
Service Dashboard
{% endblock %}
{% block header %}
<header id="head" class="secondary"></header>
{% endblock %}
{% block body %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="width: 90%">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Title: activate to sort column descending" style="width: 106.2px;">Title</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Description" style="width: 162.2px;">Description</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Location" style="width: 130.2px;">Location</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Price" style="width: 30.2px;">Price</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="3" aria-label="Action" style="width:20px;text-align: center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for service in services %}
                                    <tr class="odd">
                                        <td class="sorting_1">{{ service.title }}</td>
                                        <td>{{ service.description }}</td>
                                        <td>{{ service.location }}</td>
                                        <td>{{ service.price }}</td>
                                        <td style="text-align: center">
                                            <a href="{{ path('details.service',{id:service.id}) }}"> Details</a>
                                        </td>
                                        <td style="text-align: center">
                                            <a href="{{ path('update.service',{id:service.id}) }}"> Update</a>
                                        </td>
                                        <td style="text-align: center">
                                            <a href="{{ path('delete.service',{id:service.id}) }}"> Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table></div></div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                {#<div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                                    Showing 1 to 10 of 57 entries</div>
                            </div>#}
                                {% if nbrePages>1 %}
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                    <ul class="pagination">
                                        {% if page >1 %}
                                        <li class="paginate_button page-item previous" id="dataTable_previous">
                                            <a href="{{ path('dashboard.user.display.service',{page: page-1}) }}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                                Previous
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% for i in range(1,nbrePages) %}
                                        <li class="paginate_button page-item active">
                                            <a href="{{ path('dashboard.user.display.service',{page: i}) }}" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">
                                                {{ i }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                        {% if page<nbrePages %}
                                        <li class="paginate_button page-item next" id="dataTable_next">
                                            <a href="{{ path('dashboard.user.display.service',{page: page+1}) }}" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">
                                                Next
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                                {% endif %}
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}